body {
    font-family: 'Caveat', cursive;
    background-image: url(/images/16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
}

.jumbotron {
    background-image: url(/images/logo2.gif);
    background-size: cover;
    height: 170px;
    margin-top: auto;
    margin-bottom: auto;
}

ul {
    text-align: center;
    margin-bottom: 40px;
    list-style-position: inside;
}

.lol3 {
    align-items: center;
}

.lol2 {
    top: 80px;
    margin-left: 605px;
}

.lol1 {
    left: 5px;
    width: 600px;
}

a {
    text-decoration: none;
    color: red;
}

p {
    font-size: 16px;
}
