<h1>Add a stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="firstname">stylist name</label>
  <input id="firstname" name="firstname" type="text">
  <button type="submit" class="btn btn-info">Add stylist</button>
</form>
