<h1>Add a client to $stylist.getName()</h1>

<form action="/firstnames" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="$stylist.getId()">

  <div class="form-group">
    <label for="firstname">firstname</label>
    <input id="firstname" name="firstname" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-info">Add client</button>
</form>
