<h1>$stylist.getName() clients:</h1>

<ul>
  #foreach($client in $stylist.getclients())
   <li><a href="/stylists/$stylist.getId()/clients/$client.getId()">$client.getfirstname()</a></li>
  #end
</ul>

<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
<a href="/stylists">All stylists</a>
